html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }


body
{
	background: #f2f4f8;
	font-family: 'Helvetica Neue','Helvetica' , Arial, sans-serif;
	color: #4A4949;
}

#home-wrap {
	width: 100%;
	max-width: 960px;
	margin:0 auto;
	padding:0 auto;
	background-color: #f2f4f8;
}

#first-page #container { 
	margin-top: 3em;
	background-color: #f2f4f8;
}

#container
{
	max-width: 960px;
	position: relative;
	width:80%;
	margin: 0 auto 3em auto;
	padding-bottom: 4em;
	background-color: white;
}

#wrap
{	
	width: 100%;
	max-width: 660px;
	margin:0 auto;
	padding:0 auto;

}

h1 {
	font-size: 4em;
	margin: .4em 0 0.4em 0;
	font-weight: 200;
}

h1.homepage {
	font-size: 1em;
	margin: .4em 0 0.5em 0;
	font-weight: 200;
	text-transform: uppercase;

}

h1.homepage-test {
	font-size: 1em;
	margin: .4em 0 0.5em 0;
	font-weight: 200;
	text-transform: uppercase;
	
}

/*.site-title {
	font-size: 1em;
	margin-bottom: 0.67em;
	display: block;
	letter-spacing: 0.11em;
	-webkit-margin-before: 0.67em;
	-webkit-margin-after: 0.67em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
	text-transform: capitalize;
}
*/

.site-title {
	font-size: 1em;
	padding: 4em 0 0.5em 0;
	font-weight: 200;
	text-transform: uppercase;
}

.site-title a {
	font-size: 1em;
	padding: 4em 0 0.5em 0;
	font-weight: 200;
	text-transform: uppercase;
	text-decoration: none;
}

a:visited {
	color: #333;
}

a:hover {
	color: #9CD;
	
}

h2 {
	font-size: .95em;
	text-transform: uppercase;
	letter-spacing: .25em;
	font-weight: 700;
	color: #504747;
	padding-bottom: 1em;
	padding-top: 1.5em;

}





footer {
	width:100%;
	max-width: 660px;
	margin:50px auto;
	padding:0 auto;

}

.new li {
	color:#0867b9;
	padding-left: 5px;
}

ul, p { 
	list-style:none;
	line-height: 170%;
	font-size: 1.2em;
	font-family: Palatino, Georgia, 'Times New Roman', serif;
	margin: 0 0 1em 0;

}

dt {
	line-height: 170%;
	font-size: 1.2em;
	font-weight: bold;
	font-family: Palatino, Georgia, 'Times New Roman', serif;
	margin: 0 0 1em 0;
	font-style: italic;

}

dt.a {
	font-style: oblique;
}

dd { 
	list-style:none;
	margin: 0 0 1em 0;
	line-height: 170%;
	font-size: 1.2em;
	font-family: Palatino, Georgia, 'Times New Roman', serif;
}

hr {
	display: block;
	height: .1em;
	border: 0;
	border-top: .2em solid #CCC;
	margin: 0px;
	padding: 0;
}

a {
	list-style: none;
	text-decoration: underline;
	color: #292d43;

}
ol {
	line-height: 150%;
	padding: 10px 0 10px 0;
	margin: 0 0 0 50px;
	font-size: 1.2em;
	font-family: Palatino, Georgia, 'Times New Roman', serif;
}

li
{
	margin: 10px 0 10px 0;
}

iframe {
	padding: 20px 0 35px 0;
}

::selection {
	background: #9CD;
	color: white;
	text-shadow: none;
}

img {
	margin: 20px 0 30px 0;
	width: 100%;
	border: 3px solid #393f4f;
	border-radius: 2px;
	box-shadow: 2px 2px 10px rgba(146,144,160,0.92);
	-moz-box-shadow: 2px 2px 10px rgba(146,144,160,0.92);
	-webkit-box-shadow: 2px 2px 10px rgba(146,144,160,0.92);
 }

blockquote {
	color: rgba(34,34,34,0.7);
	border-left: 6px solid #9cd;
	margin-left: 0;
	padding-left: 2em;
}

q {
	color: rgba(34,34,34,0.7);
}

.checklist li {
	list-style: 
}

hr.break {
	padding-bottom: 20px;
	border-top: .1em solid #CCC;
}

/*#box-title {
	padding: 10px 0px 10px 0px;
	background-color: #dcdaf9;
	text-align: center;
	margin-bottom: 10px;
}*/

#right-column {
	margin-top: 20px;
	}
	
#left-column {
	margin-top: 20px;
	}
	

#data-box {
	display: block;
	padding: 20px 30px 40px 30px;
	background-color: #fff;
	border: 3px solid #393f4f;
	border-radius: 2px;
	box-shadow: 2px 2px 10px rgba(146,144,160,0.92);
	-moz-box-shadow: 2px 2px 10px rgba(146,144,160,0.92);
	-webkit-box-shadow: 2px 2px 10px rgba(146,144,160,0.92);
	min-width: 380px;
	max-width: 390px;
	margin-bottom: 48px;
	color: #4A4949;
}

/*.color-one {
	background-color: red;
}
.color-two {
	background-color: blue;
}
.color-three {
	background-color: yellow;
}
.color-four {
	background-color: gray;
} */

.right {
	float:right;
}

.left {
	float: left;
	margin-right: 20px;
}

@media only screen 
and (min-device-width:481)
and (max-device-width: 768px){

	.left {
		float: none;
		margin-right: auto;
	}

	.right {
		float: left;
	}
	
	#data-box {
		margin-left: none;
		margin-right: none;
		border: none;
		margin: none;
	}

}

@media screen and (max-width: 480px){
	#container {
		max-width: 100%;
		margin-top: 2em;
	}
	
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1em;
	}
		
	blockquote {
	color: rgba(34,34,34,0.7);
	border-left: 6px solid #9cd;
	margin-left: 0;
	margin-right: 0;
	padding-left: 2em;
	}
	
	#right-column {
	max-width: 300px;
	margin: auto 10px auto 10px;
	}
	
	#left-column {
	max-width: 300px;
	margin: auto 10px auto 10px;
	}
	
	.left {
		float: none;
		margin-right: auto;
	}
	
	.right {
		float: left;
	}
	
	#data-box {
		margin-left: none;
		margin-right: none;
		border: none;
		margin: none;
	}

}
