html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }


body
{
	background: #F3C8D2;
	font-family: 'Helvetica Neue','Helvetica' , Arial, sans-serif;
	color: #412E32;
}

#home-wrap {
	width: 100%;
	max-width: 960px;
	margin:0 auto;
	padding:0 auto;
	/*background-color: #f2f4f8;*/
}

#first-page #container { 
	margin-top: 3em;
	/*background-color: #f2f4f8;*/
}

#container
{
	max-width: 960px;
	position: relative;
	width:80%;
	margin: 0 auto 3em auto;
	padding-bottom: 4em;
	/*background-color: white;*/
}

#wrap
{	
	width: 100%;
	max-width: 660px;
	margin:0 auto;
	padding:0 auto;

}

h1 {
	font-size: 4em;
    	margin: .4em 0 0.4em 0;
	font-weight: 900;
	font-family: futura;
	color: orangered;
	letter-spacing: -0.06em;
}


.site-title {
	font-size: 1em;
	padding: 4em 0 0.5em 0;
	font-weight: 200;
	text-transform: uppercase;
	font-family:futura;
}

.site-title a {
	font-size: 1em;
	padding: 4em 0 0.5em 0;
	font-weight: 200;
	text-transform: uppercase;
	text-decoration: none;
}

a:visited {
	color: #333;
}

a:hover {
	color: #9CD;
	
}

h2 {
	font-size: .95em;
	text-transform: uppercase;
	letter-spacing: .25em;
	font-weight: 700;
	color: #504747;
	padding-bottom: 1em;
	padding-top: 1.5em;
	font-family:futura;

.right {
	float:right;
}

.left {
	float: left;
	margin-right: 20px;
}

@media only screen 
and (min-device-width:481)
and (max-device-width: 768px){

	.left {
		float: none;
		margin-right: auto;
	}

	.right {
		float: left;
	}
	
	#data-box {
		margin-left: none;
		margin-right: none;
		border: none;
		margin: none;
	}

}

@media screen and (max-width: 480px){
	#container {
		max-width: 100%;
		margin-top: 2em;
	}
	
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1em;
	}
		
	blockquote {
	color: rgba(34,34,34,0.7);
	border-left: 6px solid #9cd;
	margin-left: 0;
	margin-right: 0;
	padding-left: 2em;
	}
	
	#right-column {
	max-width: 300px;
	margin: auto 10px auto 10px;
	}
	
	#left-column {
	max-width: 300px;
	margin: auto 10px auto 10px;
	}
	
	.left {
		float: none;
		margin-right: auto;
	}
	
	.right {
		float: left;
	}
	
	#data-box {
		margin-left: none;
		margin-right: none;
		border: none;
		margin: none;
	}

}
