html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }


body
{
	/*background: #F3C8D2;*/
	background: #FFFFF7;
	font-family: 'Helvetica Neue','Helvetica' , Arial, sans-serif;
	color: #22022f;
	margin:0;
}

#first-page #container { 
	margin-top: 3em;
	/*background-color: #f2f4f8;*/
}

#container {
	padding: 2rem 4rem;
    max-width: 56rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#wrap {	
	width: 100%;
	max-width: 660px;
	margin:0 auto;
	padding:0 auto;
}

/*.site-title {
	font-size: 1em;
	padding: 4em 0 0.5em 0;
}*/

.site-title a {
	color: #700DFF;
    text-decoration: none;
    font-family: futura;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: -.01em;
    word-spacing: -0.15em;
}

h1 {
	font-size: 4em;
    	margin: .4em 0 0.4em 0;
	font-weight: 900;
	font-family: futura;
	color: orangered;
	letter-spacing: -0.06em;
}

h2 {
	font-size: .95em;
	text-transform: uppercase;
	letter-spacing: .25em;
	font-weight: 700;
	color: #700DFF;
	padding-bottom: 1em;
	padding-top: 1.5em;
	font-family: futura;
}

p {
        line-height: 145%;
	font-size: 1.24em;
	font-family: futura;
	margin: 0 0 1em 0;
	max-width: 600px;
	color: #22022f;
	letter-spacing: -.01em;
}

.right {
	float:right;
}

.left {
	float: left;
	margin-right: 20px;
}

button {
	font-family: futura;
    font-size: 1.5em;
    background: none;
    padding: 1em;
    border: .2em solid #22022f;
    border-radius: .2em;
    font-weight: 600;
}
}

button:a {
	text-decoration-line: none;
}

a:visited {
	color: #333;
}

a:hover {
	color: #700DFF;
}

footer .p {
	font-size:1em;
}

@media only screen 
and (min-device-width:481)
and (max-device-width: 768px){

	.left {
		float: none;
		margin-right: auto;
	}

	.right {
		float: left;
	}
	
	#data-box {
		margin-left: none;
		margin-right: none;
		border: none;
		margin: none;
	}

}

@media screen and (max-width: 480px){
	#container {
		max-width: 100%;
		margin-top: 2em;
	}
	
	h1 {
		font-size: 2em;
	}
	h2 {
		font-size: 1em;
	}
		
	blockquote {
	color: rgba(34,34,34,0.7);
	border-left: 6px solid #9cd;
	margin-left: 0;
	margin-right: 0;
	padding-left: 2em;
	}
	
	#right-column {
	max-width: 300px;
	margin: auto 10px auto 10px;
	}
	
	#left-column {
	max-width: 300px;
	margin: auto 10px auto 10px;
	}
	
	.left {
		float: none;
		margin-right: auto;
	}
	
	.right {
		float: left;
	}

}
